
# clocks and resets
NET "m_clock" LOC = "A8";

# FX pins
NET "IFCLK"        LOC = T9  | IOSTANDARD = LVCMOS33;

NET "FDIO[0]"        LOC = N12 | IOSTANDARD = LVCMOS33;
NET "FDIO[1]"        LOC = P12 | IOSTANDARD = LVCMOS33;
NET "FDIO[2]"        LOC = N11 | IOSTANDARD = LVCMOS33;
NET "FDIO[3]"        LOC = P11 | IOSTANDARD = LVCMOS33;
NET "FDIO[4]"        LOC = N10 | IOSTANDARD = LVCMOS33;
NET "FDIO[5]"        LOC = P10 | IOSTANDARD = LVCMOS33;
NET "FDIO[6]"        LOC = M10 | IOSTANDARD = LVCMOS33;
NET "FDIO[7]"        LOC = R10 | IOSTANDARD = LVCMOS33;
NET "ADDR[0]"      LOC = P5  | IOSTANDARD = LVCMOS33;
NET "ADDR[1]"      LOC = M7  | IOSTANDARD = LVCMOS33;

NET "FLAGA"        LOC = N8  | IOSTANDARD = LVCMOS33;
NET "FLAGB"        LOC = P7  | IOSTANDARD = LVCMOS33;
NET "FLAGC"        LOC = N7  | IOSTANDARD = LVCMOS33;
NET "FLAGD"        LOC = T8  | IOSTANDARD = LVCMOS33;
NET "PKTEND"       LOC = M6  | IOSTANDARD = LVCMOS33;
NET "SLOE"         LOC = N6  | IOSTANDARD = LVCMOS33;
NET "SLRD"         LOC = N5  | IOSTANDARD = LVCMOS33;
NET "SLWR"         LOC = T5  | IOSTANDARD = LVCMOS33;

# LEDs
NET "LEDS<0>" LOC = "L14";
NET "LEDS<1>" LOC = "L13";
NET "LEDS<2>" LOC = "M14";
NET "LEDS<3>" LOC = "L12";
NET "LEDS<4>" LOC = "N14";
NET "LEDS<5>" LOC = "M13";
NET "lEDS<6>" LOC = "P14";
NET "lEDS<7>" LOC = "R16";

## Timing Constraints
TIMESPEC "TS_P2P" = FROM "PADS" TO "PADS" 80 ns;

#NET "CLKOUT" TNM_NET = "CLKOUT";
#TIMESPEC "TS_CLKOUT" = PERIOD "CLKOUT" 20 ns HIGH 50 %;

NET "IFCLK" TNM_NET = "IFCLK" ;
TIMESPEC "TS_IFCLK" = PERIOD "IFCLK" 20 ns HIGH 50%;

#OFFSET = IN  10 ns BEFORE "CLKOUT"  ;
#OFFSET = OUT 10 ns AFTER  "CLKOUT"  ;

# Note the following is too large!!
OFFSET = IN  10 ns BEFORE "IFCLK"  ;
#OFFSET = OUT 20 ns AFTER  "IFCLK"  ;